{:paths ["src"]
 :deps {
        org.clojure/clojure {:mvn/version "1.10.3"}
        clojupyter {:mvn/version "0.2.3"}
        scad-clj/scad-clj {:local/root "scad-clj"}
        }
 :aliases {:depstar
           {:extra-deps
            {seancorfield/depstar {:mvn/version "0.3.0"}}}}
 }
